version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Processtool@2024"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  backend:
    build: .
    volumes:
      - ./backend:/var/www/html
    ports:
      - "8000:80"
    depends_on:
      - sqlserver
    environment:
      DB_CONNECTION: sqlsrv
      DB_HOST: sqlserver
      DB_PORT: 1433
      DB_DATABASE: processtool_db
      DB_USERNAME: sa
      DB_PASSWORD: "Processtool@2024"

volumes:
  sql_data:
