:root {
    --color-bg: #ffffff;
    --color-text: #111111;
    --color-muted: #666666;
    --color-accent: #FF5630;
    --color-accent-hover: #e04e2f;
    --font-body: 'DM Sans', sans-serif;
    --max-width: 1280px;
    --radius: 8px;
    --transition: 0.2s ease-in-out;
}


.dark {
    --color-bg: #0E0C15;
    --color-text: #ECECEC;
    --color-muted: #999;
}